In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
movies_2000 = pd.read_csv('Data/final_tmdb_data2000.csv.gz')
movies_2001 = pd.read_csv('Data/final_tmdb_data2001.csv.gz')

In [8]:
movies_2000.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.5,22.0,NaN
2,tt0113092,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977.0,en,For the Cause,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,5.1,8.0,NaN
3,tt0116391,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,442869.0,hi,Gang,...,0.0,152.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,NaN,Gang,0.0,4.0,1.0,NaN
4,tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,"{'id': 1131062, 'name': 'Wong Kar-Wai’s Love T...",150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,843.0,cn,花樣年華,...,14204632.0,99.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.0,8.1,2252.0,PG

In [9]:
movies_2001.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0035423,0.0,/hfeiSfWYujh6MKhtGTXyK3DD4nN.jpg,NaN,48000000.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 14, ...",NaN,11232.0,en,Kate & Leopold,...,76019048.0,118.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"If they lived in the same century, they'd be p...",Kate & Leopold,0.0,6.328,1200.0,PG-13
2,tt0114447,0.0,NaN,NaN,0.0,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",NaN,151007.0,en,The Silent Force,...,0.0,90.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,They left him for dead... They should have fin...,The Silent Force,0.0,5.000,3.0,NaN
3,tt0116916,0.0,/rFpHBidSlhjflmnLu7BZilyKeQR.jpg,NaN,0.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,73549.0,en,The Dark Mist,...,0.0,101.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,The Dark Mist,0.0,3.500,2.0,PG
4,tt0118589,0.0,/9NZAirJahVilTiDNCHLFcdkwkiy.jpg,NaN,22000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,10696.0,en,Glitter,...,5271666.0,104.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"In music she found her dream, her love, herself.",Glitter,0.0,4.461,127.0,PG-13

In [14]:
merged_df = pd.concat([movies_2000, movies_2001], axis = 1, join='inner')

In [15]:
merged_df.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,76019048.0,118.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"If they lived in the same century, they'd be p...",Kate & Leopold,0.0,6.328,1200.0,PG-13
2,tt0113092,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977.0,en,For the Cause,...,0.0,90.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,They left him for dead... They should have fin...,The Silent Force,0.0,5.000,3.0,NaN
3,tt0116391,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,442869.0,hi,Gang,...,0.0,101.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,The Dark Mist,0.0,3.500,2.0,PG
4,tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,"{'id': 1131062, 'name': 'Wong Kar-Wai’s Love T...",150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,843.0,cn,花樣年華,...,5271666.0,104.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"In music she found her dream, her love, herself.",Glitter,0.0,4.461,127.0,PG-13

In [16]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1245 entries, 0 to 1244
Data columns (total 52 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                1245 non-null   object
 1   adult                  1244 non-null   float64
 2   backdrop_path          694 non-null    object
 3   belongs_to_collection  117 non-null    object
 4   budget                 1244 non-null   float64
 5   genres                 1244 non-null   object
 6   homepage               63 non-null     object
 7   id                     1244 non-null   float64
 8   original_language      1244 non-null   object
 9   original_title         1244 non-null   object
 10  overview               1223 non-null   object
 11  popularity             1244 non-null   float64
 12  poster_path            1127 non-null   object
 13  production_companies   1244 non-null   object
 14  production_countries   1244 non-null   object
 15  release_date           1235 non-null   object
 16  revenue                1244 non-null   float64
 17  runtime                1244 non-null   float64
 18  spoken_languages       1244 non-null   object
 19  status                 1244 non-null   object
 20  tagline                556 non-null    object
 21  title                  1244 non-null   object
 22  video                  1244 non-null   float64
 23  vote_average           1244 non-null   float64
 24  vote_count             1244 non-null   float64
 25  certification          394 non-null    object
 26  imdb_id                1245 non-null   object
 27  adult                  1244 non-null   float64
 28  backdrop_path          695 non-null    object
 29  belongs_to_collection  87 non-null     object
 30  budget                 1244 non-null   float64
 31  genres                 1244 non-null   object
 32  homepage               101 non-null    object
 33  id                     1244 non-null   float64
 34  original_language      1244 non-null   object
 35  original_title         1244 non-null   object
 36  overview               1222 non-null   object
 37  popularity             1244 non-null   float64
 38  poster_path            1132 non-null   object
 39  production_companies   1244 non-null   object
 40  production_countries   1244 non-null   object
 41  release_date           1234 non-null   object
 42  revenue                1244 non-null   float64
 43  runtime                1244 non-null   float64
 44  spoken_languages       1244 non-null   object
 45  status                 1244 non-null   object
 46  tagline                540 non-null    object
 47  title                  1244 non-null   object
 48  video                  1244 non-null   float64
 49  vote_average           1244 non-null   float64
 50  vote_count             1244 non-null   float64
 51  certification          413 non-null    object
dtypes: float64(18), object(34)
memory usage: 505.9+ KB

In [26]:
merged_df = merged_df.dropna(subset=["budget"])

In [27]:
merged_df = merged_df.dropna(subset=["revenue"])

In [29]:
merged_df['budget'].isna().sum()

budget    0
budget    0
dtype: int64

In [30]:
merged_df['revenue'].isna().sum()

revenue    0
revenue    0
dtype: int64

In [32]:
merged_df['revenue'].describe()

            revenue       revenue
count  1.244000e+03  1.244000e+03
mean   1.021681e+07  1.226607e+07
std    4.522286e+07  6.003824e+07
min    0.000000e+00  0.000000e+00
25%    0.000000e+00  0.000000e+00
50%    0.000000e+00  0.000000e+00
75%    0.000000e+00  0.000000e+00
max    5.463881e+08  9.764756e+08